body {
	height: 100%;
    margin: 0;
	font-family: 'Raleway', sans-serif;;
	text-align: center;
	color: #FFF;
	background-color: #000;
}

.parallax {
	perspective: 1px;
	height: 100vh;
	min-height: 1200px;
	overflow: scroll;
	overflow-x: hidden;
	overflow-y: auto;
}
.parallax__layer {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.parallax__layer--base {
	transform: translateZ(0);
}
.parallax__layer--back {
	transform: translateZ(-2px) scale(3.1);
	background: rgba(0, 0, 0, .45) url("/img/space-background.png");
	background-blend-mode: darken;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.parallax {
	perspective-origin-x: 100%;
}
.parallax__layer {
	transform-origin-x: 100%;
}
.parallax::-webkit-scrollbar { 
    width: 0;
}

.navbar-brand span{
	text-transform: uppercase;
	font-size: 1.5em;
	vertical-align: middle;
}


a, a.btn {
	color: #fff;
	transition: all 400ms ease;
}
a:hover, a.btn:hover{
	color: #898989;
}

.bars {
	background-color: #202020
}
.oos-logo{
	width: 500px;
}
iframe {
	width: 646px;
	height: 190px;
}

.footer p{
	vertical-align: middle;
}

@media (max-width: 1200px) {
    
}

@media (max-width: 1024px) {
	.navbar-brand img{
		width: 40px;
	}
}

@media (max-width: 992px) {
	.parallax{
		min-height: 800px;
	}
}

@media (max-width: 768px) {

}

@media (max-width: 650px) {
	.oos-logo{
		width: 90%;
		margin: 0px 5%;
	}
	iframe {
		width: 300px;
		height: 250px;
	}
}